* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Karla&family=Spectral:wght@800&display=swap");

:root {
	/* Colors */

	/* Palette */
	--DarkOiveGreen: #606c38;
	--Cornsilk: #fefae0;
	--Fawn: #dda15e;
	--LiverDogs: #bc6c25;
	/* Primary */
	--primary-100: #d4d7d1;
	--primary-200: #a9afa3;
	--primary-300: #7e8674;
	--primary-400: #535e46;
	--primary-500: #283618;
	--primary-600: #202b13;
	--primary-700: #18200e;
	--primary-800: #10160a;
	--primary-900: #080b05;
	/* grays */
	--gray-100: #e6e6e6;
	--gray-200: #cccccc;
	--gray-300: #b3b3b3;
	--gray-400: #999999;
	--gray-500: #808080;
	--gray-600: #666666;
	--gray-700: #4d4d4d;
	--gray-800: #333333;
	--gray-900: #1a1a1a;
	/* resposive breakpoints */
	--tablet: 768px;
	--tablet-landscape: 1024px;
	--laptop: 1280px;
}

body {
	font-family: "Karla", sans-serif;
	font-weight: 400;
	color: var(--primary-900);
	background-color: var(--Cornsilk);
	height: auto;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	display: block;
	object-fit: cover;
}

button {
	display: inline-block;
	background: var(--primary-400);
	color: white;
	border: transparent;
	padding: 0.3rem 0.75rem;
	border-radius: 0.25rem;
	cursor: pointer;
}
button:hover {
	background-color: var(--primary-500);
}

/* ----------- 
Nav-bar
--------------*/

.nav-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	/* position: fixed; */
	background-color: var(--Cornsilk);
	margin-bottom: 1rem;
}

.nav-center {
	width: 90vw;
	max-width: 1120px;
}

.nav-header {
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	/* background-color: var(--primary-200); */
}

.nav-btn {
	font-size: 1rem;
	padding: 0.15rem 0.75rem;
}

.nav-links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 0;
	overflow: hidden;
}

.nav-link {
	list-style: none;
	text-align: center;
	width: 100%;
	padding: 0.75rem 0;
	border-top: solid 1px gray;
	text-transform: capitalize;
	font-size: 1rem;
	color: var(--DarkOiveGreen);
}

.nav-link:hover {
	background-color: var(--Fawn);
	color: var(--primary-900);
}

.show-nav {
	height: auto;
}

@media (min-width: 768px) {
	.nav-header {
		height: 5rem;
	}
	.nav-btn {
		display: none;
	}
	.nav-logo {
		width: 15rem;
	}

	.nav-links {
		flex-direction: row;
		overflow: visible;
		height: auto;
	}
}

/* ----------- 
Footer
--------------*/
footer {
	padding: 1rem 2rem;
	width: auto;
	display: flex;
	gap: 0 3rem;
	flex-direction: row;
	justify-content: space-around;
	background-color: var(--Fawn);
	font-size: 0.75rem;
}
.footer-contact h3 {
	text-align: left;
}

/* ----------- 
Main page
--------------*/

main {
	height: 100%;
	width: 85vw;
	max-width: 1120px;
	margin: 0 auto;
}

/* ----------- 
Hero
--------------*/
.hero {
	height: 50vh;
	position: relative;
	margin-bottom: 5rem;
	background: url("./assets/logos/yaguarete.jpg") center/cover no-repeat;
	border-radius: 0.25rem;
}

.hero-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0.25rem;
	background: rgba(0, 0, 0, 0.4);
}

.hero-text h1 {
	font-size: 2rem;
	color: var(--Cornsilk);
	margin-bottom: 0.5rem;
}
.hero-text h4 {
	color: var(--gray-300);
	font-size: 0.75rem;
	text-align: center;
}

@media (min-width: 768px) {
	.hero-text h1 {
		font-size: 3rem;
	}
	.hero-text h4 {
		font-size: 1.25rem;
	}
}
/* ----------- 
content
--------------*/
.content {
	margin-top: 4rem;
	margin-bottom: 4rem;
}
h3 {
	text-align: center;
}
.animal-list {
	display: grid;
	gap: 2rem 2rem;
}

.animal {
	display: block;
	/* background-color: brown; */
}
.animal-link img {
	border-radius: 0.25rem;
	margin-bottom: 1rem;
}

@media (min-width: 640px) {
	.animal-list {
		grid-template-columns: 1fr 1fr;
	}
}
@media (min-width: 1024px) {
	.animal-list {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (min-width: 1280px) {
	.animal-list {
		grid: repeat(4, 1fr);
	}
}
